.bgbg {
    background-image: url('./learning\ robot\ background\ dark.png');

    background-repeat: no-repeat;
    background-size: cover;
}

.purple {
    color: rgb(38, 210, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.purple:hover {
    color: rgb(88, 158, 177);

}

/* .yellow {
    color: rgb(38, 53, 34);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.yellow:hover {
    color: rgb(40, 26, 44);

} */